/* assets */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
li {
  list-style: none;
}

/* custom utility classes */
.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
.flex {
  display: flex;
  gap: 30px;
}

/* layouts */
.flex-left {
  width: 70%;
}
.flex-right {
  width: 30%;
}
.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

/* buttons */
button {
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  font-size: 1rem;
}
.btn-primary {
  background: #ff00d6;
  color: #fff;
  /* width: 150px; */
}
.btn-secondary {
  background: #fff;
  border: 2px solid #ff00d6;
  /* width: 150px; */
}

/* images */
img {
  width: 100%;
}
.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}

/* input boxes */
input {
  padding: 10px;
  border: 1px solid #000;
}
input:focus {
  outline: none;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 10px;
  font-weight: 300;
  font-size: 1rem;
  border: 1px solid rgb(200, 200, 200);
  background: #f4f4f4;
}

/* newsletter */
.newsletter {
  padding: 15px 30px;
  border: 1px solid #000;
  border-radius: 10px;
}

/* navbar */

.logo img {
  height: 50px;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  cursor: pointer;
  margin-left: -20px;
}

nav {
  justify-content: space-between;
  align-items: center;
}
nav .nav-menu {
  margin: 0 50px;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
}

nav.show-menu {
  display: none;
  transition: 0.5s ease;
}
nav.close-menu {
  display: none;
}
.mobile-menu ul {
  margin-bottom: 20px;
}
.mobile-menu .buttons {
  gap: 15px;
}

/* main body */

.blog-body h1 {
  font-size: 2rem;
  margin-bottom: 6px;
}
.blog-body .meta {
  font-weight: 300;
}
.blog-body .author {
  font-weight: 500;
}

.blog-body .post-img {
  margin-top: 20px;
  margin-bottom: 10px;
}

.blog-content p {
  margin: 10px 0;
}
.blog-content ul {
  margin: 10px 40px;
}
.blog-content ul li {
  list-style: disc;
}

.blog-content h2 {
  margin-top: 35px;
  margin-bottom: 20px;
}

.social-links,
.trending-posts,
.newsletter-container,
.ad-section {
  margin-bottom: 20px;
}

.social-links svg {
  cursor: pointer;
}

.trending-posts h1,
.social-links h1 {
  margin-bottom: 10px;
}
.post-card {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #000;
  padding: 15px 0;
}
.post-card img {
  width: 150px;
  object-fit: contain;
}
.post-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.post-card .post-info h5 {
  font-size: 12px;
}
.post-card .post-info .author {
  font-size: 0.8rem;
  color: #ff00d6;
}
.post-card .post-info .date {
  font-size: 10px;
  font-weight: 300;
}

.newsletter-container {
  box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);
  background: #f7f7f7;
}
.newsletter-container h2 {
  font-size: 1.3rem;
}
.newsletter-container h5 {
  font-weight: 400;
  margin-bottom: 10px;
}
.newsletter-container input {
  width: 100%;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.newsletter-container button {
  width: 100%;
}

.courses {
  background: #f7f7f7;
  border: 1px solid #000;
}

.course-info {
  padding: 10px;
}
.course-info h1,
.course-info p {
  margin-bottom: 10px;
}

.react-section {
  margin-top: 50px;
}

.react-section .post-react {
  margin-bottom: 20px;
  padding: 20px 0;
  border-top: 1px solid rgb(153, 153, 153);
  border-bottom: 1px solid rgb(153, 153, 153);
}

.comment-container {
  margin: 10px 0;
}

.comment-container .comment-box {
  border: 1px solid rgb(200, 200, 200);
  padding: 10px;
  background: #f4f4f4;
}

.comment-info {
  margin-bottom: 15px;
}

.comment-info .author {
  font-weight: 700;
  font-size: 1.2rem;
}

.mobile-nav {
  display: none;
}
.mobile-nav .toggle {
  cursor: pointer;
}
.mobile-nav .toggle i {
  font-size: 25px;
  transition: ease;
}
.mobile-menu .show-menu {
  display: flex;
}

/* responsive media queries */

@media (max-width: 768px) {
  .main-body {
    flex-direction: column;
  }
  .main-body .blog-body,
  .main-body .sidebar {
    width: 100%;
  }
  .main-menu {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
}
